/* CSS for the Header and Avatar  */

.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 400px;
  background-color: #76a5f7;
  color: #FFFF;
  margin-top: 3em;
  padding-top: 2em;
}

.avatar {
  display: flex;
  justify-content: center;
}

.NavBarName {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .nav-header {
    padding: 2em;
    margin-left: 2em;
    position: fixed;
    border-radius: 50%;
  }
}