
header .nav-header {
  height: 400px;
  background-color: #76a5f7;
  color: #FFFF;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.avatar {
  display: flex;
  justify-content: center;
}

.NavBarName {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
