
/* CSS For the Main Page */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #545149;
  background-color: #d7eef5;
  width: 100vw;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  padding-left: 15vw;
  padding-right: 15vw;
}

@media only screen and (min-width: 1024px) {
  
  .main-body {
    display: flex;
    flex-direction: row;
    margin: 10em 3em 5em 3em;
  }

  .container {
    padding-right: 0;
    padding-left: 34vw;
  }
}