nav {
  display: flex;
  justify-content: space-between;
  color: #FFFF;
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  width: 100vw;
  position: fixed;
  top: 0;
}

.new-tweet-button {
  font-size: 1em;
  background: none;
  color: #FFFF;
  border: none;
}

.new-tweet-button:hover {
  border: 1px solid white;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.7em;
}