nav {
  display: flex;
  color: #FFFF;
  background-color: #4056A1;
  height: 120px;
  padding: 1.5em;
  width: 100vw; 
  justify-content: space-between;
}

span {
  font-size: 0.8em;
}

.logo {
  font-family: "Bungee", sans-serif;
  font-size: 1.7em;
}