#tweet-text {
  background: transparent;
  resize: none;
  border: none;
  border-bottom: 3px solid #545149;
  padding-top: 0.4em;
  color: #545149;
  outline: 0;
  font-size: 0.8em;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1em;
}


.submission {
  padding-top: 0.5em;
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
}

output[charLimit = false] {
  color: #545149;
}

output[charLimit = true] {
  color: red;
}

button {
  background-color: #4056A1;
  color: #FFFF;
}

